<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Contacto</h1>
    <form action="/contacto/" method="POST">{% csrf_token %}
        <p>Asunto: <input type="text"></p>
        <p>Email: <input type="text"></p>
        <p>Mensaje:</p>
        <textarea name="mensaje" id="" cols="15" rows="45"></textarea>
        <input type="submit" value="Enviar">
    </form>
</body>
</html>